<% if logged_in? %>
  <%= button_to "Logout", logout_path, { action: "logout", method: :delete } %>
<% else %>
  <%= button_to "Login", login_path, { action: "login", method: :get } %>
  <%= button_to "Sign up", new_user_path, { action: "new", method: :get } %>
<% end %>

<blockquote class="pull-right">
  <p>To have another language is to possess a second soul.</p>
  <small><cite title="Source Title">Charlemagne</cite></small>
</blockquote>

<% @languages.each do |language| %>
<div>
  <%= link_to language.language, language_path(language) %>
</div>
<% end %>



